---
// import Layout from '../layouts/Layout.astro';
import '../styles/global.css'
const gifLink = "https://media.tenor.com/R5TwGjtOPlsAAAAj/genshin-impact-furina.gif"
---



<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="h-screen bg-gray-900 flex justify-center items-center">
    <div class="flex flex-col justify-center items-center gap-4">
        <img src={gifLink} alt="Furina Focalors Gif"/>
        <h1 class="text-white text-md font-bold">Maaf Saat ini website sedang maintenance</h1>
    </div>
</div>
