<footer class="max-md:hidden">
    <div class="flex justify-between mt-8 max-md:mt-16 h-90 max-md:mx-auto mx-5 p-5 border-t-2 border-gray-100 dark:border-gray-800">
        <div>
            <h1 class="text-indigo-500 text-lg font-bold">Animek</h1>
        </div>
        <div class="text-indigo-500 flex gap-4 max-md:flex-col max-md:gap-2 max-md:text-sm">
            <a href="/">Beranda</a>
            <a href="/">Anime</a>
            <a href="/">Jadwal Anime</a>
            <a href="/">Genre</a>
        </div>
    </div>
</footer>