---
const userAvatar = 'https://i.pinimg.com/736x/f5/b1/5e/f5b15ee63ec91cad39c9effd3ca46b96.jpg';
---

<nav class="flex justify-between z-50 bg-white dark:bg-gray-900 top-0 items-center text-center sticky p-5">
	<div>
		<h1 class="text-white font-bold text-3xl max-md:text-lg"><span class="text-indigo-500">A</span>n<span class="text-indigo-200">!</span>mek</h1>
	</div>
	<div class="flex gap-4 text-indigo-400 items-center max-md:hidden">
		<a href="/" class="hover:text-indigo-600 transition-all">Beranda</a>
		<a href="" class="hover:text-indigo-600 transition-all">Anime</a>
		<a href="" class="hover:text-indigo-600 transition-all">Jadwal Anime</a>
		<a href="" class="hover:text-indigo-600 transition-all">Genre</a>
		<div class="flex gap-4 items-center">
		<a href="" class="font-bold">Cari Anime!</a>
		<img src={userAvatar} class="h-7 rounded-full border-2 border-indigo-500" alt="AvatarUser">
	</div>
	</div>
</nav>