---
const userAvatar = 'https://static.vecteezy.com/system/resources/thumbnails/009/292/244/small/default-avatar-icon-of-social-media-user-vector.jpg';
---

<!-- desktop navbar -->
<nav class="flex max-md:hidden justify-between z-50 bg-white dark:bg-gray-900 top-0 items-center text-center sticky p-5">
	<div>
		<h1 class="text-white font-bold text-3xl max-md:text-lg"><span class="text-indigo-500">Baka</span>n<span class="text-indigo-200">!</span>me</h1>
	</div>
	<div class="flex gap-4 text-indigo-400 items-center max-md:hidden">
		<a href="/" class="hover:text-indigo-600 transition-all">Beranda</a>
		<a href="https://sociabuzz.com/rzfann/tribe" class="hover:text-indigo-600 transition-all">Donate</a>
		<!-- <a href="" class="hover:text-indigo-600 transition-all">Anime</a>
		<a href="" class="hover:text-indigo-600 transition-all">Jadwal Anime</a>
		<a href="" class="hover:text-indigo-600 transition-all">Genre</a> -->
		<div class="flex gap-4 items-center">
		<a href="" class="font-bold">Cari Anime!</a>
		<!-- <img src={userAvatar} class="h-7 rounded-full border-2 border-indigo-500" alt="AvatarUser"> -->
	</div>
	</div>
</nav>


<!-- mobile navbar -->




<div class="fixed bottom-0 max-md:flex dark:bg-gray-900 hidden rounded-t-2xl left-0 z-50 w-full h-16 bg-neutral-primary-soft border-t border-gray-700">
    <div class="grid h-full max-w-lg grid-cols-4 mx-auto font-medium">
        <button type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-neutral-secondary-medium group">
            <svg class="w-6 h-6 mb-1 text-body group-hover:text-fg-brand" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m4 12 8-8 8 8M6 10.5V19a1 1 0 0 0 1 1h3v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h3a1 1 0 0 0 1-1v-8.5"/></svg>
            <span class="text-sm text-body group-hover:text-fg-brand"><a href="/">Beranda</a></span>
        </button>
        <button type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-neutral-secondary-medium group">
            <svg class="w-6 h-6 mb-1 text-body group-hover:text-fg-brand" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8H5m12 0a1 1 0 0 1 1 1v2.6M17 8l-4-4M5 8a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.6M5 8l4-4 4 4m6 4h-4a2 2 0 1 0 0 4h4a1 1 0 0 0 1-1v-2a1 1 0 0 0-1-1Z"/></svg>
            <span class="text-sm text-body group-hover:text-fg-brand"><a href="https://sociabuzz.com/rzfann/tribe">Donate</a></span>
        </button>
        <button type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-neutral-secondary-medium group">
            <svg class="w-6 h-6 mb-1 text-gray-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M18.031 16.6168L22.3137 20.8995L20.8995 22.3137L16.6168 18.031C15.0769 19.263 13.124 20 11 20C6.032 20 2 15.968 2 11C2 6.032 6.032 2 11 2C15.968 2 20 6.032 20 11C20 13.124 19.263 15.0769 18.031 16.6168ZM16.0247 15.8748C17.2475 14.6146 18 12.8956 18 11C18 7.1325 14.8675 4 11 4C7.1325 4 4 7.1325 4 11C4 14.8675 7.1325 18 11 18C12.8956 18 14.6146 17.2475 15.8748 16.0247L16.0247 15.8748Z"></path></svg>
            <span class="text-sm text-body group-hover:text-fg-brand">Cari</span>
        </button>
        <button type="button" class="inline-flex flex-col items-center justify-center px-5 hover:bg-neutral-secondary-medium group">
<svg class="w-6 h-6 mb-1 text-gray-600" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"><path d="M4 22C4 17.5817 7.58172 14 12 14C16.4183 14 20 17.5817 20 22H18C18 18.6863 15.3137 16 12 16C8.68629 16 6 18.6863 6 22H4ZM12 13C8.685 13 6 10.315 6 7C6 3.685 8.685 1 12 1C15.315 1 18 3.685 18 7C18 10.315 15.315 13 12 13ZM12 11C14.21 11 16 9.21 16 7C16 4.79 14.21 3 12 3C9.79 3 8 4.79 8 7C8 9.21 9.79 11 12 11Z"></path></svg>
            <span class="text-sm text-body group-hover:text-fg-brand">User</span>
        </button>
    </div>
</div>

